@font-face {
  font-family: 'StratosSkyeng';
  src:
    local('StratosSkyeng'),
    url('../assets/fonts/StratosSkyeng.woff2') format('woff2'),
    url('../assets/fonts/StratosSkyeng.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'StratosSkyeng';
  src:
    local('StratosSkyeng'),
    url('../assets/fonts/StratosBold.woff2') format('woff2'),
    url('../assets/fonts/StratosBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
